/Subscriber/certificates/certificate.pem.crt
/Subscriber/certificates/private.pem.key
/Subscriber/certificates/public.pem.key
/Subscriber/certificates/root.pem

/Setup_IoTLab/certificates/certificate.pem.crt
/Setup_IoTLab/certificates/private.pem.key
/Setup_IoTLab/certificates/public.pem.key
/Setup_IoTLab/certificates/root.pem

/Subscriber/results/results_fake.csv
/Subscriber/results/results_real.csv
